#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Centering the entire content */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* Styling the logo */
#censys-logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Styling the search form */
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  text-align: center;
}

.search-button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

.search-button:disabled {
  background-color: #CCC;
  cursor: not-allowed;
}

/* Results Section */
.results {
  display: flex;
  flex-wrap: wrap;          /* Allow wrapping to the next line */
  justify-content: space-between; /* Space out the items evenly */
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/* Host Container */
.host-container {
  width: calc(20% - 10px); /* Take 20% of the width (5 items per row) */
  margin-bottom: 20px;
  margin-right: 10px;      /* Add spacing between items */
  text-align: left;
}

.hosts {
  text-align: left;
}

/* IP Address at the top */
.ip-address {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Port/Service item */
.port-service {
  margin-bottom: 8px;
  font-size: 1em;
}

/* Load more button */
.load-more-button {
  padding: 10px 20px;
  background-color: #28A745;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.load-more-button:disabled {
  background-color: #CCC;
  cursor: not-allowed;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.no-results {
  display: flex;
  flex-direction: column;
}

.error-column-1, .error-column-2 {
  text-align: left;
}

/* Responsive Design for different screen sizes */

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .host-container {
    width: calc(33.33% - 10px); /* 3 items per row */
  }
}

/* Small screens (mobile phones) */
@media (max-width: 768px) {
  .host-container {
    width: calc(50% - 10px); /* 2 items per row */
  }
}

/* Extra small screens (very small mobile phones) */
@media (max-width: 480px) {
  .host-container {
    width: 100%; /* 1 item per row */
  }
}
